 <ion-view view-title="Login" hide-nav-bar="true">
    <ion-content>
        </br>
        <h3 style="text-align: center;">Login</h3>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username" placeholder="username">
                        </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password" placeholder="password">
                        </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" ng-click="fbLogin()">
                        Login with Facebook
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>


